
.white-container{
    border:1px solid black;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border-radius: 20px;
    background-color: #FFF9F6;
    font-family: sans-serif;
}

.title {
    text-align:left;
    padding-left: 3%;
}

.add_to_do{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-left:2.5% ;
    margin-right:2.5%;
    border-radius:15px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0.5%;
    background-color: white;
    margin-bottom:2%;
}

.right_section{
   margin-left: 2%;
   padding-right: 3%;
   background-color: white;
   border:1px solid white;
   font-size: 120%;
   color:grey;
   
}

.left_section{
    font-size: 120%;
    margin-left:3%;
    color:grey;
    width:75%;
    border:1px solid white;
}

.search{
    margin-top:2% ;
}

.to_be_completed{
    border:1px solid red ;
    background-color: rgb(123, 49, 49);
    margin-left:3%;
    margin-right:3%;
    margin-top:4%;
    border-radius:15px;
    /* padding-top: 1%;
    padding-bottom: 3%; */
    font-weight:700;
    font-family: sans-serif;
    color:white;
    /* font-size:90%; */

}

.container{
    margin-top:5%;
    border: 1px solid black;
    margin-left:5%;
    margin-right:5%;
    border-radius:10px;
    background-color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:125%;
    padding-top: 2%;
    
}

.sub-container{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1%;
}

.completed{
    background-color:grey;
    border:1px solid black;
}

.complete{
    padding-bottom: 0%;
}

.gg{
    text-decoration:line-through;
    color: grey;

}


.container:hover{
    transform: scale(1.05); 
    box-shadow: 0 0 2px 2px red;
}

.done:hover{
    box-shadow: 0 0 2px 2px grey;
}

.done{
    margin-bottom:2%;
}

#btn{
    margin-bottom: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius:10px;
    font-size:120%;
}