
.white-container{
    border:1px solid black;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border-radius: 20px;
    background-color: #FFF9F6;
    font-family: sans-serif;
}

.title {
    text-align:left;
    padding-left: 3%;
}

.add_to_do{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    margin-left:2.5% ;
    margin-right:2.5%;
    border-radius:15px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 0.5%;
    background-color: white;
}

.right_section{
   margin-left: 2%;
   padding-right: 3%;
   background-color: white;
   border:1px solid white;
   font-size: 120%;
   color:grey;
   
}
.left_section{
    font-size: 120%;
    margin-left:3%;
    color:grey;
    width:75%;
    border:1px solid white;
}

.search{
    margin-top:2% ;
}